<!DOCTYPE html>
<html lang="en">
 <head>
  <title>AutoMarkWatched</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <script src="{% static 'style.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 </head>
 <body>
  <nav class="navbar mb-3 navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AutoMarkWatched</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
     </li>
    </ul>
    <ul class="navbar-nav">
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#">Settings</a>
      <div class="dropdown-menu dropdown-menu-right">
       <a class="dropdown-item" href="/settings">Basic Settings</a>
       <a class="dropdown-item disabled" href="#">Scheduler</a>
      </div>
     </li>
    </ul>
   </div>
  </nav>
  <div class="container">
   {% if messages %}
    {% for message in messages %}
    <div class="row h-100" id="alert-container">
      <div class="alert alert-{{ message.tags }} alert-dismissible col-md-12 my-auto text-center fade show">
       {{ message }}
       <button type="button" class="close" data-dismiss="alert">
        <span class="align-top" aria-hidden="true">&times;</span>
       </button>
      </div>
    </div>
    {% endfor %}
   {% endif %}
  </div>
  {% block content %}
  {% endblock %}
 </body>
</html>

