{% extends "base.html" %}
{% block content %}
<div class="container p-3">
 <h1 class="text-center">TV Shows</h1>
</div>
{% if tv_shows %}
<div class="container">
 <div class="row justify-content-md-center mb-3">
    <button type="submit" id="submitbulkedit" form="bulkeditform" class="btn btn-dark ml-1 hidden ">Submit</button>
    <button type="button" id="activebulkedit" onclick="nonbulkedit()" class="btn btn-dark ml-1 hidden">Bulk Edit</button>
    <button type="button" id="bulkedit" onclick="bulkedit()" class="btn btn-outline-dark ml-1">Bulk Edit</button>
    <button type="button" id="hideended" onclick="hideended()" class="btn btn-outline-dark ml-1">Hide Ended</button>
    <button type="button" id="showended" onclick="showended()" class="btn btn-dark ml-1 hidden">Show Ended</button>
 </div>
 <div class="row h-100 justify-content-center align-items-center">
  <form method="post" id="bulkeditform" action="">
   {% csrf_token %}
  <table id="showstable" class="table table-hover table-bordered table-sm table-striped table-dark table-fit">
   <thead>
    <tr>
     <th scope="col" class="text-left col-md-auto">TV Show</th>
     <th scope="col" class="text-center col-md-auto">Silenced</th>
     <th scope="col" class="text-center col-md-auto">Continuing</th>
     <th scope="col" class="text-center col-md-auto hidden bulk-edit">Silence</th>
     <th scope="col" class="text-center col-md-auto hidden bulk-edit">Unsilence</th>
    </tr>
   </thead>
   <tbody>
    {% for show in tv_shows %}
    <tr>
     <td class="text-left col-md-auto">
      <a href="/{{ show.pk }}/" class="text-light nounderline">{{ show.title }}</a>
     </td>
     <td class="text-center col-md-auto text-danger">
      {% if show.silenced %}
       &#10004;
      {% else %}
       &#10008;
      {% endif %}
     </td>
     <td class="text-center col-md-auto text-danger ended-check">
      {% if show.continuing %}
       &#10004;
      {% else %}
       &#10008;
      {% endif %}
     </td>
      <td class="text-center col-md-auto hidden bulk-edit">
       <input type="radio" name="{{ show.id }}" id="{{ show.title }}-silence" value=True {% if show.silenced %} checked {% endif %}>
      </td>
     <td class="text-center col-md-auto hidden bulk-edit">
      <input type="radio" name="{{ show.id }}" id="{{ show.title }}-unsilence" value=False {% if not show.silenced %} checked {% endif %}>
     </td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
  </form>
 </div>
</div>
{% else %}
<h3> you do not have any tv shows imported. go to <a href="/settings">settings</a> to get started </h3>
{% endif %} 
{% endblock %}

