{% extends "base.html" %}
{% block content %}
<div class="container p-3">
 <h1 class="text-center">Settings</h1>
</div>
<div class="container p-3">
 <form id="server_info" action="" method="post">
  {% csrf_token %}
  <div class="form-group row">  
   <div class="input-group col-sm-4">
    <div class="input-group-prepend">
     <span class="input-group-text">Plex URL</span>
    </div>
    {{ form.url }}
   </div>
   <div class="input-group col-sm-4">
    <div class="input-group-prepend">
     <span class="input-group-text">Plex Token</span>
    </div>
    {{ form.token }}
   </div>
   {% csrf_token %}
   <input type="submit" id="save_server_info" class="btn btn-outline-dark" value="Save">
  </div>
 </form> 
 <div class="input-group row">
  <div class="col-sm-2">
   <form {% if serverinfo %} action="/settings/filltable/" method="post" {% endif %}>
    {% csrf_token %}
    <button type="submit" id="fill_table" class="btn btn-outline-dark {% if not serverinfo %} disabled {% endif %}">Populate</button>
   </form>
  </div>
  <div class="col-sm-10">
  <span class="align-middle">Manually populate the TV Show list, appending missing shows if any already exist</span>
  </div>
 </div>
 <div class="row">
  <div class="col">
   <hr>
  </div>
 </div>
 <div class="input-group row">
  <div class="col-sm-2">
   <form {% if tvshows %} action="/settings/synctvdb/" method="post" {% endif %}>
    {% csrf_token %}
    <button type="submit" id="synctvdb" class="btn btn-outline-dark {% if not tvshows %} disabled {% endif %}">Sync</button>
   </form>
  </div>
  <div class="col-sm-8">
  <span class="align-middle">Manually sync tv show continuing / ended status with TheTVDB</span>
  </div>
 </div>
 <div class="row">
  <div class="col">
   <hr>
  </div>
 </div>
 <div class="input-group row">
  <div class="col-sm-2">
   <form {% if serverinfo %} action="/settings/markwatched/" method="post" {% endif %}>
    {% csrf_token %}
    <button type="submit" id="markwatched" class="btn btn-outline-dark {% if not serverinfo %} disabled {% endif %}">Mark Watched</button>
   </form>
  </div>
  <div class="col-sm-8">
  <span class="align-middle">Manually mark shows watched</span>
  </div>
 </div>
</div>
{% endblock %}

